<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание отчета</title>
</head>
<body>
    <form action="/">
        <input type=submit name=back1 value='Назад в меню'><br>
    </form>
    <input type=submit value="Выход" onclick="self.close()"><br><br>
    <form action ="/create_report" method=get>
    <table align=center border=0 width=80%>
        <tbody>
        <tr>
            <td align=right> Год </td>
            <td> <input type=text name=year> </td>
        </tr>
        <tr>
            <td align=right> Месяц </td>
            <td> <input type=text name=month> </td>
        </tr>
        </tbody>
    </table>

    <br><br><br>
    <table align=center border=0 width=80%>
        <tbody>
            <tr>
                <td align=center> <input type=reset value= Очистить > </td>
                <td align=center> <input type=submit name=send value= Отправить> </td>
            </tr>
        </tbody>
        </table>
    </form>
</body>>
</html>
