<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<title> Главное меню </title>
<body bgcolor = #d3d5db text = #212224>
<br><h2 align = center> <!— Крупный заголовок —>
Выберите действие
</h2> <br>
<hr size=1 width=70% color = black> <!— Линия подчеркивания —>
<table border=1 align=center><tbody>
    <tr>
        <td>Составить отчет о заказе блюд в марте 2017 Составить отчет о работе официантов в марте 2017 года по форме: Уникальный номер официанта, Фамилия официанта, общее количество принятых заказов, общая сумма принятых заказов</td>
        <td align=center><form action='request_1'><input type=submit name=menu_button_1 value='Запрос 1'></form></td></tr>
    <tr>
        <td>Составить отчет о работе официантов в марте 2017 года по форме: Уникальный номер официанта, Фамилия официанта, общее количество принятых заказов, общая сумма принятых заказов</td>
        <td align=center><form action="request_2"><input type=submit name=menu_button_2 value='Запрос 2'></form></td></tr>
    <tr>
        <td>Показать все сведения о самом молодом официанте</td>
        <td align=center><form action="request_3"><input type=submit name=menu_button_3 value='Запрос 3'></form></td></tr>
    <tr>
        <td>Показать сведения об официантах, которые не приняли ни одного заказа</td>
        <td align=center><form action="request_4"><input type=submit name=menu_button_4 value='Запрос 4'></form></td></tr>
    <tr>
        <td>Показать сведения об официантах, не принявших ни одного заказа в марте 2013 года</td>
        <td align=center><form action="request_5"><input type=submit name=menu_button_5 value='Запрос 5'></form></td></tr>
    <tr>
        <td>Показать сведения о блюде, которое чаще всего заказывали в апреле 2017 года</td>
        <td align=center><form action="request_6"><input type=submit name=menu_button_6 value='Запрос 6'></form></td></tr>
    <tr>
        <td>Создать отчёт о количестве заказанных блюд каждого вида в данном месяце</td>
        <td align=center><form action="create_report"><input type=submit name=menu_button_7 value='Создать отчёт'></form></td></tr>
    <tr>
        <td>Просмотреть отчёт о количестве заказанных блюд каждого вида в данном месяце</td>
        <td align=center><form action="view_report"><input type=submit name=menu_button_8 value='Просмотреть отчёт'></form></td></tr></tbody>
</table>
<hr size=1 width=70% color = black>
<div align=center><br><br><input type=submit value="Выход" onclick="self.close()">
</div> </body> </html>

