<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос 4</title>
</head>
<body bgcolor = #d3d5db text = #212224>
<h1 align=center>Сведения об официантах, которые не приняли ни одного заказа</h1>
<table align=center border=1 width=50%>
    <tr>
        <th>ID Официанта</th>
        <th>Фамилия</th>
        <th>Паспорт</th>
        <th>Дата принятия на работу</th>
        <th>Дата увольнения</th>
        <th>ID заказов</th>
        <th>Дата принятия заказа</th>
        <th>Сумма заказов</th>
        <th>ID столика</th>
    </tr>
    {% for row in result %}
    <tr>
        <td align=center>{{ row[0] }}</td>
        <td align=center>{{ row[1] }}</td>
        <td align=center>{{ row[2] }}</td>
        <td align=center>{{ row[3] }}</td>
        <td align=center>{{ row[4] }}</td>
        <td align=center>{{ row[5] }}</td>
        <td align=center>{{ row[6] }}</td>
        <td align=center>{{ row[7] }}</td>
        <td align=center>{{ row[8] }}</td>
    </tr>
    {% endfor %}
</table>
<form action="/">
    <input type=submit name=back1 value='Назад в меню'><br><br>
</form>
<input type=submit value="Выход" onclick="self.close()"><br><br>
</body>
</html>