<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос 1</title>
</head>
<body bgcolor = #d3d5db text = #212224>
<h1 align=center>Отчет о заказе блюд в марте 2017 года</h1>
<table align=center border=1 width=50%>
    <tr>
        <th>Название</th>
        <th>Сумма какая-то</th>
        <th>Еще одна сумма</th>
    </tr>
    {% for row in result %}
    <tr>
        <td align=center>{{ row[1] }}</td>
        <td align=center>{{ row[2] }}</td>
        <td align=center>{{ row[3] }}</td>
    </tr>
    {% endfor %}
</table>
<form action="/">
    <input type=submit name=back1 value='Назад в меню'><br><br>
</form>
<input type=submit value="Выход" onclick="self.close()"><br><br>
</body>
</html>